@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {font-family: 'Mulish';}

.start-15 {left: 15%;}

.h1, .h2, .h3, .h4, .h5 {
  font-weight: bold;
  color: #2E4E92;
}

button {font-weight: bold !important;}

p, span, label {color: #7D7987;}

nav {
  background-color: rgba(255, 255, 255, 0.9);
}

.nav-link {
  border: 2px solid transparent;
}

.nav-link:hover {
  color: #2E4E92 !important;
  border-bottom: 2px solid #2E4E92;
}

.nav-link.active {
  font-weight: bold;
  color: #2E4E92 !important;
  border-bottom: 2px solid #2E4E92;
}

.my_tooltip {
  --bs-tooltip-bg: #2E4E92;
}

.btn-primary {
  border-radius: 55px;
  --bs-btn-bg: #458FF6;
  --bs-btn-border-color: #458FF6;
  --bs-btn-hover-bg: #4083e2;
  --bs-btn-active-bg: #2E4E92;
  --bs-btn-disabled-bg: #458FF6;
  --bs-btn-disabled-border-color: #458FF6;
  -webkit-border-radius: 55px;
  -moz-border-radius: 55px;
  -ms-border-radius: 55px;
  -o-border-radius: 55px;
}

.btn-outline-primary {
  border-radius: 55px;
  -webkit-border-radius: 55px;
  -moz-border-radius: 55px;
  -ms-border-radius: 55px;
  -o-border-radius: 55px;
  --bs-btn-color: #458FF6;
  --bs-btn-border-color: #458FF6;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #458FF6;
  --bs-btn-hover-border-color: #458FF6;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #458FF6;
  --bs-btn-active-border-color: #458FF6;
  --bs-btn-disabled-color: #458FF6;
  --bs-btn-disabled-border-color: #458FF6;
  border-width: 2px;
}

.my_popover {
  --bs-popover-border-color: #458FF6;
  --bs-popover-header-bg: #458FF6;
  --bs-popover-header-color: var(--bs-white);
}

.line {
  width: 56px;
  height: 2px;
  background-color: #2E4E92;
}

.my_serv .row div{
  background-color: #fff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
}

.my_serv .row div svg{
  height: 96px;
}

.my_toast {
  background-color: #2E4E92;
}

.my_toast span {color: #fff;}

.gradient {background: linear-gradient(to top right, #458FF6, #6888C8);}

.gradient * {color: #fff;}

.carousel-item .line {background-color: #fff;}

.carousel-item img {width: 100px;}

.carousel-indicators [data-bs-target]  {
  background-color: #458FF6;
}

.carousel-indicators {position: static;}

.carousel-control-prev,
.carousel-control-next {
  color: #458FF6;
  font-size: 36px;
  opacity: 0.5;
  position: static;
}

.carousel-control-prev:hover, .carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
  color: #458FF6;
  opacity: 1;
}